.Product {
  .productDetail {
    padding-left: 8px;
    .productMenu {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5px;
      margin-top: 10px;
      .menuDetail {
        // border: 1px solid #000;
        text-align: center;
        margin: 0 10px;
        p {
          color: black;
          text-decoration: none;
          font-size: 18px;
          cursor: pointer;
        }
        p:hover {
          cursor: pointer;
          color: red;
          border-bottom: 1px solid red;
          margin-bottom: -1px; 
        }
      }
      .menuDetail:nth-child(1) {
        margin-right: 70px;
      }
    }
    .productListItem {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .productItem {
        width: 25%;
        margin: 20px 0px;
        // border-radius: 20px;
        // border: 1px solid #000;
        height: 350px;
      
        
        .productImg {
          max-height: 250px;
          img {
            width: 94.5%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            top: 7px;
            height: 250px;
            border-radius: 15px 15px 0px 0px ;
            border-bottom: none;
            border: 1px solid #ADB3B6;
          }
          // :hover{
          //   border: 2px solid #000;
          //   border-radius: 0;
          // }
        }
   

        .detailBorder {
           border: 1px solid #ADB3B6;
           margin: 0 auto;
           width: 94.5%;
           border-radius: 0px 0px 15px 15px;
          
          .productName {
            text-align: center;
            padding-top: 20px;
          }
          .productPrice {
            margin-top: 10px;
            text-align: center;
            padding-bottom: 10px;
          }
        }
      }
      .productItem:hover{
        transform: scale(1.01);
        .detailBorder{
          border-radius: 0;
          border: 2px solid #535963;
          
          
        }
        .productImg >img{
          border-radius: 0;
          border: 2px solid #535963;
          border-bottom: none;
          
        }

        
      }
    }
  }
}
